.navbar {
  height: 100px;
  width: 100%;
  background: var(--white);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  color: var(--very-dark-blue);
  z-index: 10;
  position: relative;
}

.mode {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.mode-logo svg {
  height: 20px;
  width: 20px;
  align-items: center;
}

h1 {
  font-weight: 800;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 6rem 0;
}

.search,
.filter_button {
  height: 4rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.search {
  padding: 0 2rem;
}

.filter_button {
  padding: 0 1rem;
}

.searchLogo {
  height: 25px;
  fill: var(--very-dark-blue);
}

.dark.searchLogo {
  fill: var(--white);
}

.search-input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 18px;
  color: var(--dark-gray-light);
  width: 350px;
}
.dark.search-input {
  color: var(--white);
}

.search-input::placeholder {
  color: var(--dark-gray-light);
}

.dark.filter_button {
  background-color: var(--dark-secondary);
}

.select {
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--white);
  color: var(--dark-gray-light);
  width: 200px;
}

.filter-button option {
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--light-secondary);
  padding: 1rem 3rem;
}

.flagCard {
  height: 385px;
  width: 320px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  color: var(--very-dark-blue);
}

.dark.flagCard {
  height: 385px;
  width: 320px;
}

.flag {
  height: 160px;
  width: 320px;
  background-position: center;
}

section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  line-height: 1.5rem;
}

.country-data {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

.cards-Container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 9rem;
  padding-bottom: 6rem;
}

.notFound {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  scale: 1.2;
}

.dark.notFound{
  background: var(--dark-primary);
}
#sortby {
  width: 220px;
}

.filter {
  width: 100%;
  display: flex;
}

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid var(--very-dark-blue);
  border-top-color: transparent;
  animation: rot1 1.2s linear infinite;
}

.loaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes rot1 {
  to {
    transform: rotate(360deg);
  }
}

.dark.loader {
  border: 3px solid var(--white);
}

/* ---------------detail page---------------------- */

.detail-section {
  height: calc(100vh - 100px);
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  align-items: center;
  padding: 9px 25px;
  gap: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background: var(--white);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.backbtn {
  margin: 5rem 0;
  width: fit-content;
}

.detail-container {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  height: 450px;
}

.backsvg {
  height: 25px;
  width: 30px;
}
.dark.backsvg {
  fill: var(--white);
}

.flag-detail-img img {
  height: 450px;
  width: 670px;
  object-fit: contain;
}

.detail-content {
  width: 60%;
  margin: auto 0;
  height: 86%;
  display: flex;
  flex-direction: column;
  color: var(--very-dark-blue);
}
.dark.detail-content {
  background: var(--dark-primary);
}

.country-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: large;
  margin-top: 40px;
  margin-bottom: 50px;
}

.country-details li {
  padding: 4px;
}

.detail-content h1 {
  font-size: 2.8rem;
}

.country-name {
  margin-bottom: 1rem;
}

.neighbours {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.dark {
  background: var(--dark-secondary);
  color: var(--white);
}

@media (max-width: 450px) {
  .navbar {
    padding: 0 1rem;
  }

  .search {
    width: 100%;
    box-sizing: border-box;
  }

  .filter_button {
    width: 100%;
  }

  .select {
    width: 100%;
  }

  #sortby {
    width: 100%;
  }

  .filter-container {
    margin: 3rem 0;
  }

  .detail-container {
    flex-direction: column;
    gap: 1rem;
  }

  .detail-content {
    width: 100%;
  }

  .flag-detail-img img {
    height: 30vh;
    width: 100%;
    object-fit: contain;
  }

  .backbtn {
    margin: 1rem 0;
    width: fit-content;
  }

  .detail-content h1 {
    font-size: 2rem;
  }

  .cards-Container {
    justify-content: center;
    gap: 3rem;
  }

  ul {
    font-size: 16px;
  }

  .neighbours {
    justify-content: flex-end;
    padding-bottom: 1rem;
  }
}
