:root {
  --dark-primary: hsl(207, 26%, 17%);
  --dark-secondary: hsl(209, 23%, 22%);
  --white: hsl(0, 0%, 100%);
  --light-primary: hsl(0, 0%, 98%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-gray-light: hsl(0, 0%, 52%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  min-height: 90vh;
  background: var(--light-primary);
}
